<!-- <button nz-button nzType="primary" (click)="toUser()">Primary</button>
<p appHighlight>Highlight me!</p>
<p [appHighlight]="color">Highlight me!</p>
<input nz-input placeholder="Basic usage" />
    <br />
    <br />
    <input nz-input placeholder="Basic usage"[disabled]="true" />

    <router-outlet></router-outlet>
     -->
     <a [routerLink]="[ '/user']" routerLinkActive="active">用户模块</a>
     <br>
     <a [routerLink]="[ '/product' ]">商品模块</a>
     <br>
     <a [routerLink]="[ '/article' ]">文章模块</a>
     <br>
     <router-outlet></router-outlet>
     